.ordercon{width:730px;}
.ordertip{border:1px dashed #D9D9D9;width:432px;padding:0 0 16px 175px;background-color:#F5F5F5;margin:0 auto;margin-top:40px;}
.ordertips{border-top:2px dashed #E2E2E2;padding-left:180px;}
.ordertips li{height:20px;line-height:20px;background:url(http://img.yoybuy.com/v6/BuyForMe/listbg.png) no-repeat left center;padding-left:10px;}